[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Ansible is a radically simple IT automation platform that makes your applications and systems easier to deploy. Avoid writing scripts or custom code to deploy and update your applications ? automate in a language that approaches plain English, using SSH, with no agents to install on remote systems. https://docs.ansible.com/ansible/
[access "refs/*"]
	owner = group user/Cesar Fernandez (cesarfn4)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Cesar Fernandez (cesarfn4)
	label-Verified = -1..+1 group user/Cesar Fernandez (cesarfn4)
	push = group user/Cesar Fernandez (cesarfn4)
	read = group user/Cesar Fernandez (cesarfn4)
	rebase = group user/Cesar Fernandez (cesarfn4)
	removeReviewer = group user/Cesar Fernandez (cesarfn4)
	submit = group user/Cesar Fernandez (cesarfn4)
[access "refs/heads/*"]
	create = group user/Cesar Fernandez (cesarfn4)
	push = +force group user/Cesar Fernandez (cesarfn4)
	pushMerge = group user/Cesar Fernandez (cesarfn4)
	read = group user/Cesar Fernandez (cesarfn4)
[access "refs/tags/*"]
	push = group user/Cesar Fernandez (cesarfn4)
	push = +force group user/Cesar Fernandez (cesarfn4)
